@charset "UTF-8";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    background-color: #F7F7F7 ;
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*{
    padding: 0;
}


/* fonts start */

.Main-Font {
    font-size:25px;
    font-weight: bold;
    color: #3D58A6;
}

.title-center {
    margin-top: 30px;
    text-align: center;
}
/* fonts end */

.index-page-main-photo{
    box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 5px 0px;
}



/* Design start*/

li a:hover { transform: scale(1.1); }

#designHeader {
    height: 100px;
    width: 100%;
    display: inline-block;
}

#design_h1 {
    margin: 28px;
    word-spacing: 8px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: "times new Bangladesh", Times, serif;
}

.design-p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#designPrintBtn {
    margin: 25px;
}

.design-animation{
    width: 700px;
    height: 100px;
    background-color: hsl(240, 100%, 80%);
    animation-name: design-animation;
    animation-duration: 20s;
}

@keyframes design-animation {
    from {background-color: hsl(240, 100%, 10%);}
    to {background-color: peachpuff;}
}

.design-transition {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to right, rgba(0,0,255,0.3), rgba(0,255,0,0.3), rgba(255,0,0,0.3));
    transition: width 10s;
}

#design-transition {transition-timing-function: linear;}

.design-transition:hover {
    width: 700px;
}

.design-transform{
    width: 500px;
    height: 100px;
    background-color: rgba(0,0,255,0.3);
    -ms-transform: rotate(5deg); /* IE 9 */
    transform: rotate(5deg);
    -ms-transform: skewY(5deg); /* IE 9 */
    transform: skewY(5deg);
}
/* Design End*/






/* about, index, news pages start */
.header {
    padding-top:30px;
    padding-left:30px;
}

/* Banner */
.head-banner {
    width:200px;
    position: relative;
    alignment: left;
    text-align: left;
    animation-name: headerBanerExample;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes headerBanerExample {
    0%   { left:0px;}
    50%  { left:40px;}
    100% { left:0px;}
}

.banner-s{
    margin-top: 30px;
    padding-left:30px;
    padding-right:166px;
}
/* end banner */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top:10px;
    margin-bottom: 20px;
    display: inline-flex;
}

li {
    margin-bottom: 7.5px;
    margin: 10px;
}

a{
    text-decoration:none;
    color: #3D58A6;


}
a li{
    color: #3D58A6;
}
a:hover{
    color: #EE4036
}

/* footer */
.socialIcons{
    padding-left:30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.social-fb{
    height: 30px;
    width:15px;
    margin-right: 35px;
}
.about-li-tag{
    margin-top: 4px;
}

.social-yt{
    height: 30px;
    border-left-color:#3D58A6;
    border-left-style:solid;
    border-left-width:1px;
    display:inline-block;
    padding-left: 35px;
}
/* end-footer */

/* articles-block-start */
.articles-block{
    padding-left:30px;
}
.article{
    margin-top:40px;
}
.date-block{
    background:#3D58A6;
    display:inline-block;
    font-size:48px;
    color: white;
    padding:5px;
    box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 5px 0px;
}
.month{
    color:#3D58A6;
    font-size:26px;
    margin:10px auto;
}
.article-title{
    font-size:28px;
    margin:15px auto 20px auto ;
}
.img-size{
    width:250px;
    margin-bottom:40px;
    box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 5px 0px;
}

.text p {
    padding-bottom:25px;
    font-family: "BPG Ingiri Arial", sans-serif;
    font-size:18px;

}

.text p:last-child{
    padding-bottom:0;
}

/* articles-block-end */
.contact-session{
    text-align: center;
    margin-top:30px;
    margin-bottom: 10px;
}
/* about, index, news pages End */









.transform-exmpl {
    margin-top: 30px;
    margin-bottom:30px;
    width: 400px;
    height: 80px;
    -ms-transform: skewY(10deg); /* IE 9 */
    transform: skewY(5deg);
    background-image: linear-gradient(to right, gray ,black, gray);
}

.header-content{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin:0 auto;
    width:70%;
    justify-content: space-between;
}

.pantrion-logo > img{
    margin-top: 5px;
    margin-bottom: 30px;
    transform: rotate(3grad);
}

.menu{
    color: hsl(0, 0%, 100%);

}
.menu ul {
    padding-left: 0px ;
}
.menu ul li {
    list-style: none;
    text-align: left;

}
.menu > ul > li > a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.menu > ul > li > a:hover{
    border-bottom: solid 1px white;
}

.menu > ul > li > a:active{

}
.icon{
    width: 15px;


}
.icon2{
    width: 15px;
    display: inline;
}
.pantrion-post{
    height: 400px;
    display: flex;
}

.design-posts{
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}

.design-posts > div{
    display: flex;
    margin: 20px;
    height: 120px;
    margin-left: 0;

}
.company-box{
    border: solid 5px hsl(168, 76%, 42%);
    width: 200px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 5px 0px;
}

.pantrion-main-text{
    flex-grow: 6;
}
.content{
    width: 70%;
    display: flex;
    margin: 0 auto;

}
.footer{
    background-color: #565450;
    height: 100px;
}

.footer-content{
    margin:0 auto;

    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    color:gray;
}
h3{
    color: gray;
}

h1{
    color: #CEC6C6;
    font-size: 50px;
}

h2{
    color: white;
}

.pantrion-black-gradient{
    height: 12px;
    background-image: linear-gradient(to right, #565450, lightgray, #565450);
}

.news-gray-gradient{
    margin-top: 16px;
    height: 10px;
    background-image: linear-gradient(to right, #565450,white, #565450);
}
@media only screen and (max-width: 720px) {
    ul {
        display: flex;
        flex-direction: column;
    }

}

.map-block {
    padding-left:30px;
}

.design-section {
    margin-left: 30px;
    margin-bottom: 50px;
}

.form-elements{
    margin-bottom: 10px;
}

.form-name {
    margin-left: 22px;
}

.main-header-auth {
    margin-right: 20px ;
    font-size: 15px;
    /*alignment: right;*/
    /*text-align: right;*/
}


.headers-auth-fields {
    alignment: right;
    text-align: right;
    margin-right: 20px;
    margin-top: -70px;
    font-weight: bold;
}



body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    alignment: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 80px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}


/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color:  #F7F7F7 ;
    text-align: center;
}

.registration-h1 {
    text-align: center;
    margin-bottom: 50px;
}
